*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html{
    background-color: #ffbf00;
}
img{
    background-color: #FAFAFA;
}
.null{
    background-color: #E83F6F;

}
body{
    display: flex;
    background-color: #32936F;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
.card{
    background-color: #FAFAFA;
    margin: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}